* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F4F4F4;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.main {
  min-height: calc(100vh - 66px);
  width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
  .content {
    background-color: #ffffff;
  }

  .page-container {
    padding: 10px;
    margin: 0;
    border: 1px solid #F9F9F9;
    background-color: #fff;
    .ReactTable{
      min-height: 200px;
    }

    header {
      .search {
        input[type='search'] {
          height: 50px;
          padding: 0 25px;
          margin: 5px 0 15px 0;
          border: 1px solid rgba(0, 0, 0, 0.05);
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          border-radius: 25px;
          font-size: 27px;
          width: 100%;
        }
      }
      .menu {
        display: flex;

        a {
          color: rgba(0, 0, 0, 0.5);
          width: 50%;
          padding: 15px;
          font-size: 30px;
          text-align: center;
          margin: 10px;
          border-radius: 25px;

          &.active {
            background-color: rgba(0, 0, 0, 0.03);
          }
        }
      }
    }
    .stages-container {
      margin: 0 auto;
      display: flex;
      & > div {
        padding: 20px;
      }
    }
  }
}